/* STYLING FOR NAVIGATION AREA */

.navigation {
  color: #fff;
  font-size: 1.5em;
  grid-area: navigation;
}

.navigation div {
  display: flex;
  justify-content: center;
  height: 3.5%;
}

navigation img {
  height: auto;
  width: 10%;
}
