/* STYLING FOR NAVIGATION AREA */

.navigation {
  color: #fff;
  font-size: 1.5em;
  grid-area: navigation;
  padding-left: 8%;
}

.navigation div {
  cursor: pointer;
  display: flex;
  height: 3.5%;
  margin-bottom: 2.5%;
  text-transform: capitalize;
}

div:focus {
  border-radius: 0 50px 50px 0;
  background: orange;
  outline: none;
}

.navigation div img {
  height: 40%;
  width: 15%;
  margin-right: 2%;
}

.navigation div p,
.navigation div img {
  margin-top: 5.5%;
}
