/* STYLING FOR NAVIGATION AREA */

.navigation {
  grid-area: navigation;
  padding-left: 8%;
}

.navigation .menu-button {
  background: none;
  border: none;
  color: #fff;
  display: flex;
  font-size: 1.5em;
  height: 2.5em;
  margin-bottom: 2.5%;
  padding-left: 5%;
  text-transform: capitalize;
  width: 100%;
}

.menu-button:focus {
  border-radius: 0 50px 50px 0;
  background: orange;
  outline: none;
}

.navigation .menu-button img {
  height: 1.5em;
  width: 1.3em;
  margin-right: 2%;
}

.navigation .menu-button p,
.navigation .menu-button img {
  margin-top: 5.5%;
}
